.card {
  perspective: 150rem;
  -moz-perspective:150rem;
  position: relative;
  height: 50rem;

  &__side{
    transition: all .8s ease;
    color: #fff;
    font-size: 2rem;
    height: 50rem;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba($color-black, .3);
  &--front{

  }
  &--back{
    transform: rotateY(180deg);
    &-1{
      background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark)
    }
    &-2{
      background-image: linear-gradient(to right bottom, #38ef7d,#11998e);
    }
    &-3{
      background-image: linear-gradient(to right bottom,#1CB5E0,#396afc);
    }
  }

}

  &:hover &__side--front{
    transform: rotateY(-180deg);
  }
  &:hover &__side--back{
    transform: rotateY(0);
  }




  // FRONT-SIDE
  &__picture{
    background-blend-mode: screen;
    height: 23rem;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    &--1{
      background-image:linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark), url(../img/nat-5.jpg);
    }
    &--2{
      background-image: linear-gradient(to right bottom, #38ef7d,#11998e),url(../img/nat-6.jpg);
    }
    &--3{
      background-image: linear-gradient(to right bottom, #396afc,#2948ff),url(../img/nat-7.jpg);
    }

  }
    &__heading{
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      width: 74%;
      text-align: right;
      color: $color-white;
      position: absolute;
      top: 12rem;
      right: 2rem;
      text-align: right;
      text-shadow: 0 1.5rem 4rem rgba($color-black, .5);
    }
    &__heading-span{
          padding: .7rem 1.5rem;
          opacity: .8;
          box-decoration-break: clone;
          -webkit-box-decoration-break: clone;
      &--1{

        background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
      }
      &--2{

        background-image: linear-gradient(to right bottom, rgba(#38ef7d, .85), rgba(#11998e, .85));
      }
      &--3{

        background-image: linear-gradient(to right bottom, rgba(#1CB5E0, .85), rgba(#2948ff, .85));
      }
    }
  &__details{
    ul {
          list-style: none;
          width: 80%;
          color: rgba($color-black,.6);
          margin: 0 auto;
      li{

        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child){
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
  &__cta{
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__price-box{
    text-align: center;
    margin-bottom: 8rem;
  }
  &__price-only{
    text-transform: uppercase;
  }
  &__price-value{
    font-size: 6rem;
    font-weight: 100;
  }
  @include respond(tab-port){
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 3px;
    background-color: #fff;
    height: auto;
    box-shadow: 0 1rem 4rem rgba($color-black, .3);
    &__details{
      padding: 2rem 3rem;
    }
    &__side{
      height: auto;
      position: relative;
      box-shadow: none;
    &--back{
      transform: rotateY(0);
      clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
    }

  }

    &:hover &__side--front{
      transform: rotateY(0);
    }

    &__cta{
      color: $color-white;
      position: relative;
      text-align: center;
      top: 0%;
      left: 0%;
      transform: translate(0);
      padding: 7rem 4rem 4rem 4rem;
    }
    &__price-box{
      text-align: center;
      margin-bottom: 3rem;
    }
    &__price-only{
      text-transform: uppercase;
      padding: 3rem;
    }
    &__price-value{
      font-size: 6rem;
      font-weight: 100;
    }
  };
}
